# Notification Service - Neon Cloud Database
SERVER_PORT=8084

# Neon Cloud Database
DB_URL=jdbc:postgresql://ep-super-night-at2qyeov-pooler.c-9.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_USER=neondb_owner
DB_PASSWORD=npg_c0NLUqSuO2nr

# Eureka disabled
EUREKA_CLIENT_REGISTER_WITH_EUREKA=false

# Kafka & Mail disabled
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Email Configuration (Gmail)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=